<h3>Stock Order Form</h3>
<form role="form" name="variablesForm">
  <div class="row">
    <div class="col-xs-6">
      <h2>Order Form</h2>

      <div class="form-group">
        <label for="selectStockName">Stock Name</label>
        <div class="controls">
          <!--select box -->
          <select
            required
            class="form-control"
            cam-variable-type="String"
            cam-variable-name="stockName"
            name="stockName"
            ng-change="calculateTotal()"
          >
            <option value="faceMask" checked>Face Mask ($3.99)</option>
            <option value="conditioner">Conditioner ($4.99)</option>
          </select>
        </div>

        <!-- Custom validation message for select box -->
        <p ng-if="variablesForm.stockName.$invalid" style="color: red">
          Please select a stock to order.
        </p>
      </div>

      <div class="form-group">
        <label for="stockQuantity">Quantity</label>
        <div class="controls">
          <input
            required
            class="form-control"
            cam-variable-type="Integer"
            cam-variable-name="stockQuantity"
            type="number"
            name="stockQuantity"
            min="50"
            ng-change="calculateTotal()"
          />
        </div>
      </div>

      <!-- calculate total amount-->
      Total amount:
      <p ng-if="totalAmount" class="alert alert-success">
        {{totalAmount}}$ for {{quantity}} {{stockName}}.
      </p>

      <p ng-if="!totalAmount" class="alert alert-danger">Invalid selection</p>

      <!-- The following code demonstrates use of custom scripting.
						The 'cam-script' directive makes sure the the script is loaded and can bind to the angular $scope for the form.
						Access to form fields is provided through $scope.variablesForm.
				-->

      <script cam-script type="text/form-script">
        $scope.calculateTotal = function() {
          var form = $scope.variablesForm;

        	if(!form.stockName.$valid || !form.stockQuantity.$valid) {
        		$scope.totalAmount = undefined;
        	} else {
        		var stockName = form.stockName.$modelValue;
        		var quantity = form.stockQuantity.$modelValue;
        		var price = 0;

        		if (stockName == "faceMask") {
        			price = 3.99;
        		} else if(stockName == "conditioner") {
        			price = 4.99;
        		}

        		$scope.totalAmount = price * quantity;
        	}
        }
      </script>
    </div>
  </div>
</form>
